.blog,
.search,
.single {
    #primary {
        max-width: 1200px;
        margin: 0 auto;
        margin-top: 3rem;
        padding: 0 1rem;

        h2.blogpage-pagetitle {
            text-align: center;
            margin: 3rem 0;
        }
    
        .blog-posts {

            margin: 2rem;
            
            @include mq-medium() {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: 3.5rem;
            }

            @include mq-large() {
                grid-template-columns: repeat(3, 1fr);
            }

            article {
                margin-bottom: 3.5rem;
                border: 1px solid lightgrey;
                border-radius: 2rem;

                @include mq-medium() {
                    margin-bottom: 0;
                }

                .article-post-thumbnail img {
                    border-top-left-radius: 2rem;
                    border-top-right-radius: 2rem;
                }

                h2.article-title {
                    border-bottom: 1px solid lightgrey;
                    padding: 1rem;
                    text-align: center;
                    line-height: 1.2rem;
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-bottom: 1.5rem;

                    a {
                        color: #3a3a3a;
                        font-size: 1.2rem;
                        font-weight: 700;
                    }
                }

                // like-share buttons

                .simplefavorite-button {
                    border: none;
                    background-color: rgba(255, 255, 255, 0);
                    letter-spacing: .8px;
                }
                
                .simplefavorite-button:hover {
                    cursor: pointer;
                }
                
                .simplefavorite-button i {
                    padding-right: .2rem;
                }
                
                .addtoany_list a {
                    color: black;
                    text-decoration: none;
                    font-size: 1rem;
                    display: flex;
                    align-items: center;
                    letter-spacing: .8px;
                }
                
                .addtoany_list a:after {
                    content: "SHARE";
                    font-size: 1rem;
                    padding-left: .5rem;
                }
                
                .addtoany_list a img {
                    height: 1rem;
                    width: auto;
                }

                .likeshare-blog {
                    display: flex;
                    justify-content: space-between;
                    padding: 1rem;
                }
            }

            
        }

        

    }
}