/* Visually Hidden */
.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
    /* added line */
}

.home {
    #primary {
        text-align: center;

        .section-content {
            margin-bottom: 5rem;

            &:not(:first-of-type) {
                max-width: 1500px;
                margin: 0 auto;
                margin-bottom: 5rem;
            }

            // into-section
            &.home-detail {
                background-size: contain;
                color: $text-color_white;
                padding: 1rem;
                // border-bottom-right-radius: 85%;
                padding-top: 7rem;

                @include mq-medium {
                    padding-top: 9rem;
                }

                .intro-section {
                    max-width: 1500px;
                    margin: 0 auto;

                    >.wp-block-group__inner-container {

                        @include mq-medium {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            grid-gap: 1rem;
                            align-items: center;
                        }

                        .call-to-action {

                            max-width: 500px;
                            margin: 0 auto;

                            h2 {
                                color: $text-color_white;
                                font-size: 2rem;

                                @include mq-medium {
                                    font-size: 3rem;
                                }
                            }

                            .download-store>.wp-block-group__inner-container {
                                display: grid;
                                grid-template-columns: 1fr 1fr;
                                grid-gap: 1rem;
                            }

                        }

                        .into-img {
                            text-align: center;

                            img {
                                max-width: 55%;
                            }
                        }
                    }
                }

                h2 {
                    font-style: italic;
                    font-size: 2.25rem;
                }

                .header-sub-content {
                    max-width: 280px;
                    margin: 0 auto;

                    .wp-block-group.store-logos {
                        padding-top: 2rem;
                        padding-bottom: 3rem;

                        .wp-block-group__inner-container {
                            display: grid;
                            grid-template-columns: 1fr 1fr;
                            grid-gap: 1rem;
                            align-items: center;
                        }
                    }
                }
            }

            // About Scetion
            .about-section {
                >.wp-block-group__inner-container {
                    @include mq-medium {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-gap: 1rem;
                    }
                     .about-content {
                        >.wp-block-group__inner-container {
                            padding: 0 1rem;
                        }
                     }
                }
            }

            // Why Nearest Section
            .why-section {
                text-align: center;
                padding: 0 1rem;

                .nearest-features {
                    >.wp-block-group__inner-container {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 1rem;

                        @include mq-medium {
                            grid-template-columns: repeat(4, 1fr);
                        }
                    }
                }
            }

            // Download Section
            .download-section {
                text-align: center;
                padding: 0 1rem;

                .download-now-stores {
                    max-width: 500px;
                    margin: 0 auto;

                    >.wp-block-group__inner-container {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 1rem;
                    }
                }
            }

            // Testimonial Section
            .testimonial-section {
                text-align: center;
                padding: 0 1rem;
            }

            // Our Team
            .team-section {
                text-align: center;
                padding: 0 1rem;

                .team-members {
                    >.wp-block-group__inner-container {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 1rem;
                        @include mq-medium {
                            grid-template-columns: repeat(3, 1fr);
                        }

                        @include mq-mediumLarge {
                            grid-template-columns: repeat(6, 1fr);
                        }
                    }
                }
            }
        }
    }
}