.site-footer {
    text-align: center;
    padding-bottom: 1rem;
    background-color: $bg-color_footer;

    span {
        text-transform: uppercase;

        .theme-author {
            font-weight: bold;
        }
    }
}