.site-header-wrapper {
  padding: 0 1rem;
  background: linear-gradient(180deg, #6cb0ab, #536293);

  .site-header {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 80px auto;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
  }
}

.home,
.contact-page {
  .site-header {
    background: transparent;
    padding: 0 1rem;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
}
