.page-id-254 {
  .content-area {
    padding: 0 1rem;
  }
  h1 {
    color: $text_color-heading;
    font-size: 2.5rem;
    margin: 3rem 1rem;
    text-align: center;
  }

  .wp-block-group__inner-container {
    display: grid;

    margin: 2rem 0;
    .sponsor-meta-text {
      order: 2;
      .wp-block-group__inner-container {
        background-color: #d5e9e8;
        padding: 1.5rem 3rem 2rem;
        text-align: center;
        border-radius: 1.5rem;
        p {
          font-size: 1rem;
        }
        p:first-of-type {
          font-size: 2rem;
          color: #445b7f;
          font-weight: bold;
          margin: 1rem 0 0 0;
        }
      }
    }
  }

  img {
    border-radius: 1.5rem;
  }

  @include mq-small() {
    .content-area {
      padding: 0;
    }
    .section-sponsor:first-of-type {
      figure {
        margin-left: 3rem;
        img {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }
    .section-sponsor:nth-of-type(2) {
      figure {
        margin-right: 3rem;
        img {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }

    .wp-block-group__inner-container {
      .sponsor-meta-text {
        .wp-block-group__inner-container {
          border-radius: 0;
        }
      }
    }
  }

  @media screen and (min-width: 940px) {
    .wp-block-group__inner-container {
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
      .wp-block-group__inner-container {
        display: block;
      }
      .sponsor-meta-text {
        .wp-block-group__inner-container {
          margin: 0;
        }
      }
    }

    .section-sponsor:first-of-type {
      figure {
        order: 2;
        margin: 0;
        display: flex;
      }
      .wp-block-group__inner-container {
        margin-bottom: 0rem;
        .sponsor-meta-text {
          display: flex;
          .wp-block-group__inner-container {
            border-radius: 1.5rem;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            padding: 3rem;
          }
        }
      }
    }

    .section-sponsor:nth-of-type(2) {
      figure {
        margin: 0;
        display: flex;
      }
      .wp-block-group__inner-container {
        margin-top: 1rem;
        .sponsor-meta-text {
          display: flex;
          .wp-block-group__inner-container {
            border-radius: 1.5rem;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            margin: 0;
            padding: 3rem;
          }
        }
      }
    }
  }

  @include mq-exLarge() {
    .content-area {
      max-width: 1500px;
      margin: 0 auto;
    }
  }
}
