.article-content {
    max-width: 1200px;

    .single-article-title {
        color: #3a3a3a;
        font-style: italic;
        font-weight: 400;
        padding: 1rem;
        margin: 0;
        font-size: 1.6rem;
        line-height: 2rem;

        @include mq-small() {
            font-size: 2rem;
            line-height: 1.6rem;
        }

        @include mq-medium() {
            font-size: 2.5rem;
        }

        @include mq-mediumLarge {
            font-size: 3rem;
        }

        @include mq-large() {
            padding: 3rem 1rem;
            margin: 0;
            padding-bottom: 1rem;
        }
    }

    .author-date {
        padding: 2rem 1rem;
        font-size: 1rem;
        font-style: italic;
        display: flex;
        justify-content: space-between;

        @include mq-small() {
            justify-content: unset;

            .article-date {
                padding-left: 5rem;
            }
        }

        @include mq-medium() {
            padding: 5rem 1rem; 
        }

        
    }

    

    .single-blog-img-text {
        position: relative;
        padding-bottom: 1.5rem;
    }

    .blogtext-overlay {

        display: none;
        position: absolute;
        bottom: 40px;
        max-width: 60%;
        left: 3rem;
        border-left: 2px solid white;
        padding-left: 2rem;
        color: white;
        font-style: italic;
        text-shadow: 2px 2px 3px grey;
        letter-spacing: 1px;

        @include mq-small() {
            display: block;
        }

        @include mq-large() {
            left: 8rem;
            font-size: 1.5rem;
            line-height: 2rem;
        }
    }

    p {
        padding: 0;
        font-size: 0.9rem;

        @include mq-small() {
            padding: 0 1rem;
        }

        @include mq-medium() {
            font-size: 1.2rem;
            line-height: 1.8rem;
        }
    }

    @include mq-medium() {

        margin: 0 2.5rem;

        .blogtext-para-group {
            .wp-block-group__inner-container {
                display: grid;
                grid-template-columns: 2fr 1fr;
                grid-template-rows: 1fr;

                .blogtext-right {
                    grid-row: span 2;
                    border-top: .5px solid #3a3a3a;
                    margin-left: 2.5rem;
                    padding-top: 1.5rem;
                    font-style: italic;
                    font-weight: bold;
                    font-size: 1.5rem;
                    line-height: 1.4;
                }
            }
        }
    }

    // like/share buttons
    .likeshare-single-blog {
        .simplefavorite-button {
            border: none;
            background-color: rgba(255, 255, 255, 0);
            letter-spacing: .8px;
        }

        .simplefavorite-button:hover {
            cursor: pointer;
        }

        .simplefavorite-button i {
            padding-right: .2rem;
        }

        .addtoany_list a {
            color: black;
            text-decoration: none;
            font-size: 1rem;
            display: flex;
            align-items: center;
            letter-spacing: .8px;
        }

        .addtoany_list a:after {
            content: "SHARE";
            font-size: 1rem;
            padding-left: .5rem;
        }

        .addtoany_list a img {
            height: 1rem;
            width: auto;
        }

        .likeshare-blog {
            display: flex;
            justify-content: space-between;
            padding: 1rem;
        }

        display: flex;
        justify-content: center;
        padding-top: 7rem;

        button.simplefavorite-button,
        .addtoany_shortcode {
            padding: 0 1rem;
        }
    }
}