body {
    font-family: $font-sans-serif;
}

h2 {
    letter-spacing: 0.05rem;
    font-size: $font-size_h2;
    color: $text_color-heading;
}

p {
    line-height: 1.5;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
}