ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.site-navigation {
  margin-top: 1rem;
  .primary-menu {
    .header-menu {
      display: flex;
      flex-wrap: wrap;

      li {
        text-transform: uppercase;

        a {
          padding: 0.5rem 1rem;
          color: $text-color_white;
        }

        &:last-of-type {
          a {
            padding-right: 0;
          }
        }
      }
    }
  }
}

.home {
  .site-navigation {
    margin-top: 0;
  }
}
