ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        a {
            letter-spacing: 1px;
        }
    }
}

.site-navigation {
    margin-top: 1rem;

    .primary-menu {
        .header-menu {
            display: flex;
            flex-wrap: wrap;

            li {
                text-transform: uppercase;

                a {
                    padding: 0.5rem 1rem;
                    color: $text-color_white;
                    display: block;
                    font-weight: 600;

                    &:hover {
                        color: #91eec5;
                    }
                }

                &:last-of-type {
                    a {
                        padding-right: 0;
                    }
                }
            }

            .current_page_item a,
            .current-menu-item a {
                color: #91eec5;
            }
        }
    }
}

.footer-menu-nav {
    padding: 2rem 1rem;

    .footer-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li {
            text-transform: uppercase;

            a {
                padding: 0.5rem 1rem;
                color: $text-color_white;
                display: block;
                font-weight: 600;

                &:hover {
                    color: #536293;
                }
            }
        }

        .current_page_item a,
        .current-menu-item a {
            color: #536293;
        }
    }
}

.home {
    .site-navigation {
        margin-top: 0;
    }
}

body {
    #responsive-menu-container {
        background: linear-gradient(90deg, rgba(108, 176, 171, 0.95), rgba(143, 153, 185, 0.95));
        border-top-left-radius: 3rem;
        border-bottom-left-radius: 3rem;
        position: absolute;
        bottom: 20vh;


        #responsive-menu-wrapper {
            margin: 0 3rem;
            margin-top: 5rem;
            background: none;

            #responsive-menu {
                li {
                    &:first-of-type a {
                        border-top: none;
                    }

                    a {
                        border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
                        background-color: transparent;
                        padding: 1.5rem 0;
                        height: auto;
                        line-height: unset;
                        text-transform: uppercase;
                        font-weight: 600;
                    }
                }
            }

            #responsive-menu-search-box {
                padding: 2rem 0;
                
                .responsive-menu-search-box {
                    border-radius: 10px;
                    outline: none;
                }
            }
        }
    }
}